<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/CSS/Index.css' %}">
    <title>Rayo Makween</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
         $("#msg").hide();
         $("#msg2").hide();
         var urlBase = "https://www.metaweather.com/api/location/search/?lattlong=";
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            } 
            else {
              $("#msg2").append("Geolocation is not supported by this browser.");
              $("#msg2").show();
            }
          function showPosition(position) {
              $("#Clima").remove();
              $("#msg").append(`<div id="Clima"><h4>En Las coordenadas:</h4> Latitude: ${position.coords.latitude} <br> Longitude: ${position.coords.longitude}</div>`);
              $("#msg").show();
              var lat = position.coords.latitude;
              var lon = position.coords.longitude;
              var urlFormatted = urlBase+lat+","+lon;
              $.get(urlFormatted,function(data){
              }).then(function(data){
                  var id = data[0].woeid;
                  var newUrl = "https://www.metaweather.com/api/location/"+id;
                  $.get(newUrl,function(data){
                      var tempPromedio = data.consolidated_weather[0].the_temp;
                      var Icon = data.consolidated_weather[0].weather_state_abbr;
                      $("#Clima").append( `<br>Ubicada en ${data.title}, la temperatura es de ${tempPromedio} °C y esta <img src ="https://www.metaweather.com/static/img/weather/${Icon}.svg" style="width:32px">`);
                  })
              })
          }
      })
    </script>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img class="logo" src="https://st.depositphotos.com/1006018/3132/v/600/depositphotos_31322065-stock-illustration-automotive-mechanic-car-repair-retro.jpg" alt="">
          <a class="navbar-brand" href="#">Taller Mecánico Rayo Makween</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Registro.html">Registrate Aqui</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nuestros Mecanicos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="MecaEle.html">Especialista  en  electrónica  automotriz</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="MecaCam.html">Especialista en caja de cambio</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="MecaSus.html">Especialista en suspensión y dirección</a></li>
                </ul>
              <li class="nav-item">
                <a class="nav-link" href="Contacto.html">Contactanos</a>
              </li>
              </li>
            </ul>
            <form class="d-flex">
              
            </form>
          </div>
        </div>
      </nav>
  </div>
<!--Fin navbar-->
  <div class="container">
      <div class="row">
        <div class="accordion m-2" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Clima en tu zona
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div id="msg"></div>
              </div>
            </div>
          </div>
      </div>       
      <!--Carta 1-->
      <div class="row">
        <div class="card m-4" style="width: 20rem;">
          <img src="https://www.hibridosyelectricos.com/media/hibridos/images/2021/04/06/2021040617434547911.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Especialista en electricidad</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, asperiores laboriosam eum incidunt consectetur, debitis cupiditate doloremque quibusdam fugiat nisi dolore facere distinctio accusantium quia, eligendi quas? In, corporis molestiae.</p>
            <a href="./Electricidad.html" class="btn btn-primary">Mas informacion</a>
          </div>
        </div>
        <!--Carta 2-->
        <div class="card m-4" style="width: 20rem;">
          <img src="https://i.pinimg.com/originals/b7/66/77/b7667735fdcfb47defd4ddb74ffc5a55.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Especialista en caja de cambios</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates dolore neque quaerat ratione obcaecati illo deleniti unde harum! Neque sint, qui ducimus officiis pariatur commodi veritatis? Deserunt non aut suscipit.</p>
            <a href="./Cambios.html" class="btn btn-primary">Mas informacion</a>
          </div>
        </div>  
        <!--Carta 3-->
        <div class="card m-4" style="width:20rem;">
          <img src="https://fotos.perfil.com/2015/07/01/cropped/1200/900/center/principal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Especialista en suspencion</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit corrupti fuga adipisci sit voluptatum recusandae iste eos odio eligendi quia nobis explicabo vitae accusamus saepe, culpa sed magni quidem animi!</p>
            <a href="./Suspencion.html" class="btn btn-primary">Mas informacion</a>
          </div>  
        </div> 
      </div>  
  </div>


     <div class="row"></div>
     <div class="row"></div>
     <div class="row"></div>
     <div class="row"></div>
     <div class="row"></div>
     <div class="row"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
