<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Administrador</title>
  <link rel="stylesheet" href="{%static 'core/CSS/master.css'%}">
</head>
<body>
  <div class="login-box">
    <img src="{% static 'core/IMG/logo.jpg' %}" class="avatar" alt="">
    <form>
      <label for="username">Usuario</label>
      <input type="text" placeholder="Ingrese Usuario">
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Ingrese Contraseña">
      <input type="submit" value="Iniciar Sesion">
      <a href="#">Lost your Password?</a><br>
      <a href="#">Don't have An account?</a>
    </form>
  </div>
</body>
</html>